.root{
    -fx-background-color: white;
}

.secondary-color{
    -fx-background-color: #1e2761;
}

.textfield{
    -fx-background-radius: 50;
}

.primary-button{
    -fx-background-radius: 300;
    -fx-text-fill: white;
    -fx-background-color: #1e2761;
    -fx-text-alignment: center;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
}

.primary-button:hover{
    -fx-background-color: #408ec6;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
}

.secondary-button{
    -fx-background-radius: 300;
    -fx-text-fill: #1e2761;
    -fx-background-color: white;
    -fx-text-alignment: center;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
}

.secondary-button:hover{
    -fx-background-color: #7a2048;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
    -fx-text-fill: white;
}

.hyperlink1{
    -fx-text-fill: black;
}

.hyperlink1:hover{
    -fx-text-fill: #1e2761;
}

.hyperlink2{
    -fx-text-fill: #5c6bc0;
}

.hyperlink2:hover{
    -fx-text-fill: #4052AB;
}